{
  "extends": "./node_modules/eslint-config/.eslintrc",
  "parser": "babel-eslint",
  "globals": {
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
